---
layout: default
---

<div class="home">

  <h1 class="page-heading">Записи</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | {{ page.date | localize: "%d %B %Y" }} }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">подписаться <a href="{{ "/feed.xml" | relative_url }}">через RSS</a></p>

</div>
